@import url('https://fonts.googleapis.com/css2?family=Playwrite+CL:wght@100..400&display=swap');


.note{
    text-align: center;
    font-family: 'Playwrite', cursive;
    padding: 30px;
    text-shadow: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
